<!-- views/pages/contacts.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
      <div class="container">
        <% for(var i = 0; i < contacts.length; i++){ %>
        <div class="card">
          <p>Name: <%= classes[i].name %></p>
          <p>Phone #: <%= classes[i].phone %></p>
          <p>email: <%= classes[i].email %></p>
          <p>body: <%= classes[i].body %></p>
          <p>newsletter: <%= classes[i].newsletter %></p>
        </div>
        <% } %>
      </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>
